.dropzone {
    border: 2px dashed #e93232;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 255, 206);
    /* transition: background-color 0.3s; */
}

.dragging {
    background-color: rgb(169, 174, 255);
}
